     .btn {
        /* Colores y Fuente */
        background-color: #c5ce9e; 
        color: #f1f1f1;
        font-family: "Arial", sans-serif;
        font-size: 16px;
        font-weight: bold;

        /* Dimensiones y Forma */
        padding: 12px 24px;
        border: rgb(0, 0, 0) 3px solid;
        border-radius: 5px;
        cursor: pointer;

        /* Efectos de transici칩n */
        transition:
          background-color 0.3s ease,
          transform 0.2s ease;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      }

      /* Efecto al pasar el mouse */
      .btn:hover {
        background-color: #184ea7;
        transform: translateY(-2px); /* Peque침o salto hacia arriba */
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
      }

      /* Efecto al hacer clic */
      .btn:active {
        transform: translateY(0);
      }
      .img-logo {
        max-width: 100%;  /* Esto evita que la imagen sea m치s ancha que la pantalla */
         height: auto;     /* Mantiene la proporci칩n para que no se vea estirada */
        display: block;   /* Elimina espacios extra en la base */
        margin: 0 auto;   /* Centra la imagen horizontalmente */
      }body{
      background-color: rgba(243, 245, 244, 0.623);
     }

    
    .title {
        text-align: center;
        color: #a8c6ca93;
        font-family: 'arial', sans-serif;
        margin: 0;
     } 
      .description {
      font-family: 'Arial';
      font-size: 1em;
      color: #000000;
      line-height: 1.3;
      margin: 20px auto;
      text-align: center;
    }
    
    h2, h3 {
      font-size: 1emem;
      margin-top: 1em; 
      margin-bottom: 0.2em;
      color: #62666b;
    }
    h3 + ul {
    list-style-type: none;
    padding-left: 0;
    }
    ol[type= A]{
        list-style: none;
        padding-left: 0;
    }
    .metodos-pago, .metodos-pago ul {
      list-style-type: none;
      padding-left: 0;
    }
    .metodos-pago li ::before,
    ol[type= A] li ::before {
      content: none !important;
    }
 
    .description ul, .description ol {
      list-style: none;
        padding: 0;
    }